

<div class="row">
  <div class="col-sm-4 mb-4" *ngFor="let libro of listaLibros; let i = index;">
    <div class="card" style="width: 18rem;" *ngIf="i < 3">
      <img class="card-img-top" [src]="libro.imagen" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-text">Nombre: {{libro.nombre}}</h3>
        <p class="card-text">Descripcion: {{ libro.descripcion }}</p>
        <p class="card-text">Precio: ${{ libro.precio}}</p>
        <p class="card-text">Categoria: {{ libro.categoria }}</p>
      </div>
    </div>
  </div>
</div>