
<div class="row pa-3 mx-2 mt-2 d-flex">
  <div class="col-2">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logo.jpg" alt="Logo" width="100" height="100" class="d-inline-block align-text-top">
    </a>
  </div>
  <div class="col-9 mx-2 mt-2">
      <h3>La Tienda de <span class="text-primary">Lectuopia</span></h3>
      <div class="navbar-collapse d-flex" id="navbarNav">
          <a class="nav-link" routerLink="/Inicio">Inicio</a>
          <a class="nav-link px-3" routerLink="/Productos">Productos</a>
          <a class="nav-link px--3" routerLink="/Contacto">Contacto</a>
      </div>
  </div>
</div>

<router-outlet></router-outlet>

<footer style="text-align: center;">
  <p>
    Lectuopia
  </p>
  <p>
    carene645&#64;gmail.com
  </p>
  <p>
    (+52) 472 113 2454
  </p>
</footer>